<header class="header">

  <div class="logo">
    <div class="logo-box">
      <img src="/images/logo.png" alt="PNS Logo">
    </div>

    <div class="logo-text">
      <h2>PNS Scholarship</h2>
      <span>SC/ST Scholarship Portal</span>
    </div>
  </div>

  <div class="menu-toggle" id="menuToggle">
    ☰
</div>

  <nav id="mobileMenu" class="main-nav">
    <a href="/">🏠 Home</a>
    <a href="/apply">🎓 Apply</a>
    <a href="/check">🔍 Check Status</a>
    <a href="/notice">📢 Notice</a>
    <a href="/login" class="btn-nav">Admin Login</a>
  </nav>

</header>