<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<section class="login-bg">
  <form action="/reset-password" method="POST" class="login-box">
    <h2>Reset Password</h2>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <input type="hidden" name="email" value="<%= email %>">

    <input
      type="text"
      name="otp"
      placeholder="Enter OTP"
      required
    >

    <input
      type="password"
      name="password"
      placeholder="New Password"
      required
    >

    <button type="submit">Reset Password</button>
  </form>
</section>
<script src="/js/main.js"></script>

</body>
</html>